<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3" *ngFor = "let productTemp of products">
                    <div class="product-box">
                        <a routerLink="/products/{{ productTemp.id }}">
                            <img src="{{ productTemp.imageUrl }}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{ productTemp.id }}">
                            <h1>{{ productTemp.name }}</h1>
                        </a>
                        <h2>Buy it fast! Only {{productTemp.unitsInStock}} units left!</h2>
                        <div class="price">{{ productTemp.unitPrice | currency:'INR':'symbol-narrow'}}</div>
                        <a class="primary-btn" (click)="addToCart(productTemp)">Add to cart</a>
                    </div>
                </div>

                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    Oops! No products found!
                </div>
            </div>
        </div>
    </div>
</div>
